h1 {
  font-family: operetta-12, serif;
  color: #232323;
  font-size: 40px;
}
h1 span {
  color: #C97C68;
}
h2 {
  font-family: operetta-12, serif;
  color: #232323;
}
.navbar-toggle:hover,
.navbar-toggle:active,
.navbar-toggle:focus {
  background: none !important;
  border-color: none !important;
}
.icon-bar {
  width: 30px;
  height: 3px;
  background-color: #C97C68;
  display: block;
  transition: all 0.2s;
  margin: 6px;
}
.navbar-toggler {
  border: none;
  background: transparent !important;
}
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 12% 25%;
}
.navbar-toggler .middle-bar {
  opacity: 0;
}
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 0 70%;
}
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
.header .nav-link {
  font-size: 20px;
  color: #63665D;
}
.footer .nav-link {
  font-size: 20px;
  font-weight: 400;
  color: #63665D;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background: #FAF7F4;
  font-family: hero-new, sans-serif !important;
}
.header {
  background: #ffffff;
}
.main {
  padding: 60px 0 0;
}
.specials_textbox {
  border: #C6CDBB 1px solid;
  border-radius: 5px;
  max-width: 430px;
  background: #FAF7F4C2;
  margin: 0 auto;
}
.button,
.btn {
  font-family: hero-new, sans-serif;
  font-size: 15px;
  font-weight: 400;
  background: #C97C68;
  border: none;
  color: #ffffff;
}
.button:hover,
.btn:hover,
.button:active,
.btn:active,
.button:focus,
.btn:focus {
  background: #ffffff;
  color: #C97C68;
  border: none;
  box-shadow: none;
}
.section {
  position: relative;
}
.section--one {
  background-image: url(../images/coffee_mugs.png);
  background-size: 100%;
  background-position: 20% 30%;
}
.section_group {
  position: relative;
  display: flex;
  flex-direction: column;
}
.section_group--item.three {
  background-color: #EBDED5;
  padding: 80px 0 50px;
}
.section_group--item.three p {
  color: #838383;
  font-weight: 300;
  border-bottom: 1px solid #C97C68;
}
.section_group--item.two {
  display: none;
}
.form-control::placeholder {
  font-family: hero-new, sans-serif;
  font-weight: 300;
  color: #838383;
  font-size: 12px;
}
.footer {
  background: #C6CDBB;
}
@media (min-width: 720px) {
  .section--one {
    background-image: none;
  }
}
