

h1{
    font-family: @font-family-primary;
    color: @color-black;
    font-size: 40px;
    span{
        color: @color-primary;
    }
}

h2{
    font-family: @font-family-primary;
    color: @color-black;
}